<div class="container">

  <app-button-bar style="align-self: flex-start;"></app-button-bar>

  <div class="runtime">
     
      <app-runtime style="flex-grow: 1; width: 80%;"></app-runtime>


    <div class="card">
      <table>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let reg of convertedCode.memories.regFile | keyvalue: originalOrder">
          <td>{{reg.key}}</td>
          <td>{{reg.key.toString().slice(1)}}</td>
          <td>{{reg.value}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="fixer">
    <app-console></app-console>
  </div>
  
</div>