@import '/src/assets/colors';


.tabs {
    width: 100%;
    background-color: $tertiary;
    min-width: 300px;
    height: 100%;
    color: $letter;
    border-radius: 5px;

}


.text-segment-table {
    width: 99%;
    border-top: 1px solid black;
}

.data-segment-table {
    width: 99%;
    border-top: 1px solid black;
}

.data-segment {
    margin-top: 2px;
    width: 99%;
    border: 1px solid black;
    overflow: auto;
    max-height: 300px;
}

.text-segment {
    margin-top: 2px;
    width: 99%;
    border: 1px solid black;
}

::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

td {
    text-align: center;
}

.mat-mdc-tab.mdc-tab {
    background-color: $secondary;
    border-radius: 5px;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #e25c1d;
    --mat-tab-header-active-focus-indicator-color: #e25c1d;
    --mat-tab-header-active-hover-indicator-color: #e25c1d;
    --mat-tab-header-active-label-text-color: #dfdfdf;
    --mat-tab-header-active-focus-label-text-color: #dfdfdf;
    --mat-tab-header-active-hover-label-text-color: #dfdfdf;
    --mat-tab-header-inactive-label-text-color: #dfdfdf;
    --mat-tab-header-pagination-icon-color: #dfdfdf;
    --mat-tab-header-inactive-focus-label-text-color: #dfdfdf;
    --mat-tab-header-inactive-hover-label-text-color: #dfdfdf;
    --mat-tab-header-active-ripple-color: transparent;
    --mat-tab-header-inactive-ripple-color: transparent;
}