@import '/src/assets/colors';

mat-toolbar{
  height: 35px;
  padding: 0;
  color: $white;
  background: $gunmetal;
} 

button {
  margin: 5px;
}

.menu-button{
  width: 45px;
  height: 35px;
  margin: 3px;
  padding: 0;
}
 
.option-menu-button{
  margin: 0;
  color: $white;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
  width: 150px;
  font-size: 0.8rem;
  margin: 1px;
  background: $outer-space;
  color: $white;

}

.mat-mdc-menu-item {
  min-height: 30px !important;
}

.mat-mdc-menu-item .mat-icon-no-color {
  color: $white  
}
