$lapis-lazuli: #69a9d9;
$polynesian-blue: #004e89;
$beige: #efefd0;
$peach: #f7c59f;
$orange-crayola: #ff6b35;
$spanish-orange: #e86723;
$dark-orange: #f4903a;
$white: #fbfcfc;
$outer-space: #4c575b;
$gunmetal: #2f363a;

$gray: #1e1e1e;


$primary: #3a3a3a;
$secondary: #1e1e1e;
$tertiary: #292929;
$orange: #e25c1d;
$letter: #dfdfdf;
$disabled: #313131;