@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/_colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: $primary;}
 

.msg-success {
  background-color: #28a745;
  color: #ffffff;
}

.msg-error {
  background-color: #e35e6b;
  color: #ffffff;
}

.msg-success {
  background-color: #28a745;
  color: #ffffff;
}

.msg-warning {
  background-color: #e3955e;
  color: #ffffff;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3A3A3A #EBEBEB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: none;
}

*::-webkit-scrollbar-track:hover {
  background-color: none;
}

*::-webkit-scrollbar-track:active {
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3A3A3A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3A3A3A;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #3A3A3A;
}

